<h1 style="text-align: left; padding-left: 210px;">Stream Receiver Help</h1>
<p style="text-align: left; padding-left: 30px;">Stream Receiver is a simple SVSi multicast stream receiver. This allows you to listen to the audio stream from any SVSI encoder. It can also be set up with pre-configured and labeled streams, to make it as easy as possible to use.&nbsp;</p>
<h3 style="text-align: left; padding-left: 30px;">Normal Operation</h3>
<p style="text-align: left; padding-left: 30px;">To use, enter any valid stream number or multicast address in to the Stream ID text field. The Play button will turn green if a stream is detected. Press the play button to start listening to the stream, press the stop button to stop listening to the stream.&nbsp;</p>
<p style="text-align: left; padding-left: 30px;">When launched for the first time, the program will create a configuration file called stream_receiver.conf in the directory where it was executed. It will store the settings in this file so it will retain them for the next time the program is run. You can delete this file, and the next run will be with default settings.</p>
<h3 style="text-align: left; padding-left: 30px;">Custom Streams Operation</h3>
<p style="text-align: left; padding-left: 30px;">This mode is intended for use where streams are pre-configured, and you want to label the streams with names. To do this edit the stream_receiver.conf to enter the list of streams you want displayed. For example:</p>
<blockquote>{"custom_streams": {"TV Set": "121", "Computer": "2305", "Camera": "3256"}, &nbsp;"rx_stream": null, &nbsp;"check_for_updates": false, &nbsp;"interleave": false}</blockquote>
<h3 style="text-align: left; padding-left: 30px;">Options</h3>
<p style="padding-left: 30px;">There are other options available under the File menu</p>
<ul>
<li>Toggle Details -- Shows or hides the Address ID Received and Dropped fields</li>
<li>Interleave Streams -- Enables receiving interleave streams</li>
<li>Check for Updates -- Checks the website for updates on startup</li>
<li>Exit -- exits the program</li>
</ul>
<p>&nbsp;</p>